.wrapper {
  height: 100vh;
  overflow: hidden;
  display: flex;
  left: 0;
  background: var(--text-color);
  color: var(--bg-color);
}

.scrollable {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 50px 10vw;
}

.scrollable > * {
  min-width: 60vw;
  padding: 0 5vw;
}

.scrollable img {
  width: 33.33%;
  height: 80vh;
  position: relative;
  object-fit: cover;
}

.collage img:nth-child(2) {
  object-position: 70%;
}
