.collage-simple {
  display: flex;
  align-items: center;
}

.collage img {
  width: 33.33%;
  position: relative;
  object-fit: cover;
}

.collage img:nth-child(2) {
  object-position: 70%;
}

@media screen and (max-width: 700px) {
  .collage img {
    height: 350px;
  }
}