.reception {
  position: relative;
}

.reception-wrapper {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.reception h2 {
  margin: 0 auto;
  font-size: var(--font-size-l);
  font-family: var(--font-canela);
  font-weight: 100;
  text-align: center;
}

.reception-title {
  position: absolute;
  font-size: var(--font-size-l);
  bottom: 0;
  left: -20px;
  font-family: var(--font-canela);
  text-transform: uppercase;
  -webkit-text-stroke-color: #c3c2c0;
  -webkit-text-stroke-width: 1px;
  color: transparent;
  opacity: .7;
}

.reception1, .reception2 {
  padding-top: 80px;
  margin: auto;
}

.reception2 {
  color: var(--color-accent-3);
}

.reception2 button::after {
  background-color: var(--color-accent-3);
}

