
.tree-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

.tree {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

.image {
  height: 100%;
  position: absolute;
  right: 0;
  top: auto;
  bottom: -100px;
  object-fit: contain;
  object-position: right;
}
