.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.message {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message p {
  display: flex;
  align-items: center;
}

.message p svg {
  margin-right: 10px;
}