.section {
  background-color: var(--color-bg-2);
  padding: 30px 25px;
  color: var(--color-accent-3);
}

.section h2 {
  font-family: var(--font-canela);
  font-weight: 100;
  font-size: 30px;
  margin-bottom: 20px;
}

.section p {
  line-height: 200%;
}
