.primary {
  background-color: transparent;
  border-style: none;
  font-size: var(--font-size-s);
  font-family: var(--font-canela);
  padding-bottom: 3px;
  position: relative;
  color: inherit;
  cursor: pointer;
}

.primary::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-font);
}

.primary svg {
  margin-left: 10px;
}