.primary {
  background-color: transparent;
  border-style: none;
  font-size: 18px;
  padding-bottom: 3px;
  position: relative;
  color: inherit;
}

.primary::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-font);
}