.count-down {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--font-canela);
  position: relative;
}

.count-down span {
  font-size: 10vw;
}

.count-down img {
  position: absolute;
  left: -100px;
  bottom: -100px;
  z-index: 1;
}

@media screen and (min-width: 700px) {
  .count-down span {
    font-size: 5vw;
  }
}

@media screen and (max-width: 700px) {
  .count-down img {
    width: 70%;
    left: -80px;
  }
}